<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TriviaBlast Footer Fragment</title>
</head>

<body>

<footer th:fragment="footer"
        class="custom-footer">

    <div class="container">

        <div class="footer-content">

            <!-- LEFT -->

            <div class="footer-left">

                <div class="footer-logo">

                    <span>TriviaBlast</span>

                </div>

                

            </div>

            <!-- RIGHT -->

            <div class="footer-right">

                <a href="https://github.com/1unaelumen/Triviablast"
                   target="_blank"
                   class="footer-github-btn">

                    View Source Code

                </a>

            </div>

        </div>

    </div>

    <!-- Bootstrap -->
    <script th:src="@{/js/bootstrap.bundle-5.3.3.js}"
            src="js/bootstrap.bundle-5.3.3.js"></script>

    <!-- Websockets -->
    <script th:src="@{/js/stomp.js}"
            src="js/stomp.js"></script>

    <script th:src="@{/js/iw.js}"
            src="js/iw.js"></script>

     <script th:src="@{/js/svg.min.js}"
            src="js/svg.min.js"></script>

    <script th:src="@{/js/triviablast.js}"
            src="js/triviablast.js"></script>

   

</footer>

</body>

</html>