<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>TriviaBlast Nav Fragment</title>
</head>

<body>

<header th:fragment="nav">

    <nav class="navbar custom-navbar">

        <div class="container d-flex align-items-center justify-content-between">

            <!-- LEFT -->

            <a class="navbar-brand custom-brand"
               th:href="@{/}"
               href="/">

                <img th:src="@{/img/logo.png}"
                     src="/img/logo.png"
                     alt="TriviaBlast Logo"
                     width="52"
                     height="52">

                <span>TriviaBlast</span>

            </a>

            <!-- RIGHT -->

            <div class="navbar-nav d-flex flex-row align-items-center">

                <a class="nav-link custom-nav-link"
                   th:href="@{/instructions}">
                    Instructions
                </a>

                <a th:if="${u != null and u.hasRole('ADMIN')}"
                    class="nav-link custom-nav-link"
                    th:href="@{/admin/}">
                    Admin Panel
                </a>

                <a class="nav-link custom-nav-link"
                   th:href="@{/user/scoreboard}">
                    Scoreboard
                </a>

                <a class="nav-link custom-nav-link"
                   th:href="@{/user/profile}">
                    Profile
                </a>

                <th:block th:if="${u == null}">

                    <a class="custom-login-btn"
                       th:href="@{/login}"
                       sec:authorize="isAnonymous()">
                       Login
                    </a>

                </th:block>

            </div>

        </div>

    </nav>

</header>

</body>

</html>