<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Lobby</title>
</head>

<body>

<h1>Lobby</h1>

<p>Game code: <b th:text="${code}"></b></p>

<h3>Players:</h3>

<ul>
    <li th:each="p : ${players}"
        th:text="${p.username}">
    </li>
</ul>

<button type="button" id="startGameBtn">
    Start Game
</button>

<script th:inline="javascript">
    window.gameCode = /*[[${code}]]*/ null;
    sessionStorage.setItem("gameCode", window.gameCode);
</script>


<script th:src="@{/js/stomp.js}"></script>
<script th:src="@{/js/triviablast.js}"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        connectGame(window.gameCode);

        const token = document.querySelector('meta[name="_csrf"]').content;
        const header = document.querySelector('meta[name="_csrf_header"]').content;

        document.getElementById("startGameBtn")
            .addEventListener("click", () => {

            fetch("/game/start_game", {
                method: "POST",
                headers: {
                    [header]: token
                }
            });
        });
    });
</script>

</body>
</html>