<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lobby</title>
</head>

<body>

<h1>Lobby</h1>

<p>Game code: <b th:text="${code}"></b></p>

<h3>Players:</h3>

<ul>
    <li th:each="p : ${players}"
        th:text="${p.username}">
    </li>
</ul>

<form th:action="@{/game/start_game}" method="post">

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}">

    <button type="submit">Start Game</button>
</form>
<script th:inline="javascript">
    sessionStorage.setItem("gameCode", "[[${code}]]");
</script>

</body>
</html>